/* 
* copyright 2013 bureau54.com
* 
* www.bureau54.com
*/

/***** Screen 960px *****/

.topbar{
	position:fixed;
	top:0;
	height:40px;
	background:rgba(0,0,0,0.8);
	width:100%;
	z-index:2000;
	text-align:center;

	
}
.topbar img{
	margin-top:10px;
}

.info-btn{
	position:relative;
	margin-right:20px;
	float:right;
	width:35px;
	height:35px;
}

#logo-big-front{
	position:relative;
	padding-top:150px;
}

#logo-big-front img{
	width:250px;
	height:auto;
}

.footer{
	position:fixed;
	bottom:0px;
	height:100px;
	width:100%;
	background:rgba(0,0,0,0.8);
	padding-top:20px;
	text-align:center;
	z-index:10;
	
}
.footer-big{
	position:fixed;
	bottom:0px;
	height:250px;
	width:100%;
	background:rgba(0,0,0,0.8);
	padding-top:20px;
	text-align:center;
	
}
.footer-text{
	color:#fff;
	
}
.parkett{
	width:100%;
	height:100%;
	overflow:hidden;
}
.parkett img{
	position:absolute;
	margin:0;
	padding:0;
	top:0;
    left:0;
}


#parkett-overlay{
	position:absolute;
	width:100%;
	height:100%;
	z-index:5;
	top:0px;
	left:0px;
}

.btn-select-all{
	float:left;
	margin-right:10px;
	width:50px;
	height:200px;
	
}
.btn-parkett{
	float:left;
	margin-right:10px;
	width:80px;
	height:200px;
	border:0px;
	color:#fff;

}
.btn-parkett-active{
	border:1px solid #fff;
}
.btn-parkett:hover{
	cursor:pointer;
}
.btn-white{
	width:80px;
	height:30px;
	background:url(../img/white/white-i1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.btn-yellowLight{
	width:80px;
	height:30px;
	background:url(../img/yellow-light/yellow-light-i1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.btn-yellowIntense{
	width:80px;
	height:30px;
	background:url(../img/yellow-intense/yellow-intense-i1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.btn-blueLight{
	width:80px;
	height:30px;
	background:url(../img/blue-light/blue-light-i1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.btn-blueIntense{
	width:80px;
	height:30px;
	background:url(../img/blue-intense/blue-intense-i1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.btn-oldNews{
	width:80px;
	height:30px;
	background:url(../img/oldnews/oldnews-i1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.btn-mandala{
	width:80px;
	height:30px;
	background:url(../img/mandala/mandala-i1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.btn-redLight{
	width:80px;
	height:30px;
	background:url(../img/red-light/red-light-i1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.btn-redIntense{
	width:80px;
	height:30px;
	background:url(../img/red-intense/red-intense-i1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.btn-greenLight{
	width:80px;
	height:30px;
	background:url(../img/green-light/green-light-i1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}
.btn-greenIntense{
	width:80px;
	height:30px;
	background:url(../img/green-intense/green-intense-i1.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}

span.tooltip {
      position: absolute;
	  top: 180px;
	  left: 100px;
	  z-index:1000;
      width: 300px;
      height: 120px;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: rgb(255, 255, 255);
      background: rgb(0, 0, 0);
      border: 4px solid rgb(0, 0, 0);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0976563) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0976563) 1px 1px 2px 0px;
	  display:none;
}

span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 20px;
      border-style: solid;
      border-color: #000 transparent transparent transparent;
      top: 120px;
      left: 50px;
}

/***** Screen Bigger than 960px *****/
@media only screen and (min-width:1200px) {

.topbar{
	position:fixed;
	top:0;
	height:40px;
	background:rgba(0,0,0,0.8);
	width:100%;
	z-index:2000;
	text-align:center;

	
}

.footer{
	position:fixed;
	bottom:0px;
	height:100px;
	width:100%;
	background:rgba(0,0,0,0.8);
	padding-top:20px;
	text-align:center;
	
}
.footer-big{
	position:fixed;
	bottom:0px;
	height:250px;
	width:100%;
	background:rgba(0,0,0,0.8);
	padding-top:20px;
	text-align:center;
	
}
.footer-text{
	color:#fff;
	
}

span.tooltip {
      position: absolute;
	  top: 180px;
	  left: 100px;
	  z-index:1000;
      width: 300px;
      height: 120px;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: rgb(255, 255, 255);
      background: rgb(0, 0, 0);
      border: 4px solid rgb(0, 0, 0);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0976563) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0976563) 1px 1px 2px 0px;
	  display:none;
}

span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 20px;
      border-style: solid;
      border-color: #000 transparent transparent transparent;
      top: 120px;
      left: 50px;
}


}



/***** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {

.topbar{
	position:fixed;
	top:0;
	height:40px;
	background:rgba(0,0,0,0.8);
	width:100%;
	z-index:2000;
	text-align:center;

	
}

.footer{
	position:fixed;
	bottom:0px;
	height:100px;
	width:100%;
	background:rgba(0,0,0,0.8);
	padding-top:10px;
	
}
.footer-text{
	color:#fff;
	font-size:14px;
	
}


}



/***** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {
.topbar{
	position:fixed;
	top:0;
	height:40px;
	background:rgba(0,0,0,0.8);
	width:100%;
	z-index:2000;
	text-align:center;

	
}

.footer{
	position:fixed;
	bottom:0px;
	height:100px;
	width:100%;
	background:rgba(0,0,0,0.8);
	padding-top:10px;
	
}
.footer-text{
	color:#fff;
	font-size:12px;
	
}


}


	
/***** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	


}



/***** Retina *****/
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {



}
